.work.is-loading
{
  visibility: hidden;
}

.work
{
    margin: 0 4rem;
}

.work__item
{
    margin-bottom: 1rem;
    width: 100%;
}

@media screen and (min-width: 401px)
{
    .work__item
    {
        box-sizing: border-box;
        float: left;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 750px)
{
    .work__item
    {
        width: 50%;
    }
}

.work__title
{
    font-size: 1.75rem;
    margin-bottom: 0.8rem;
}

.work__image
{
    display: block;
    position: relative;
}

.work__caption
{
    padding: 1rem;
}

.work__description
{
    margin-bottom: 0;
    font-size: 1.5rem;
}
  